* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gill Sans", sans-serif;
}

.container {
    padding: 40px 5%;
}

.heading-text {
    margin-bottom: 2rem;
}

.photo-gallery {
    /* add code here*/
    display: flex;
    gap: 20px;
}

.photo-gallery .column {
    gap: 10px;
}

.photo-item img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

@media (max-width:768px) {
    .photo-gallery {
        flex-direction: column;
    }
}

.photo-item {
    position: relative;
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 65, 65, 0.313);
    top: 0rem;
    left: 0rem;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;

}

/* hover */
.photo-item:hover .overlay {
    transform: scale(1);
}