*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(204, 215, 212);
    color: rgb(41, 33, 33);
}

h1{
    text-align: center;
    margin: 50px auto 30px;
    color: black;

}

form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 60px;
    background: rgb(146, 190, 176);
    display: flex;
    align-items: center;
    border-radius: 20px;
}

form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #272222;
    font-size: 18px;
    padding: 0 30px;
}

form button{
    padding: 0 40px;
    height: 100%;
    background: #7c0564c6;
    color: #fff;
    border: 0;
    outline: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    font-size: 500;
}

::placeholder{
    color: #fff;
    font-size: 18px
}

#show-more-btn{
    background: #c20cc8;
    color: #fff ;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
}

#search-result{
    width: 90%;
    margin: 70px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}