.container{
  display: flex;
  justify-content: space-around;
}

.items{
  display: flex;
  justify-content: space-around;
  gap: 10px 20px;
}

.list{
  display: flex;
  width: 100%;
  padding-left: 10px;
}

.list table td{
  padding: 10px;
}