*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image:url("background.png");
    
     background-size:cover;
     background-position:center;
     position:relative;
     overflow:hidden;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.navbar{
    width:85%;
    height: 15%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
button{
    color:#fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border:1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.content {

    color:#fbfcfd;
    position: absolute;
    top:50%;
    left:30%;
    transform: translate(-50%);
    z-index: 2;
}
small{
    font-size:16px ;
}
h1{ 
   font-size:80px ;
    margin:10px 0 30px;
    line-height: 80px;
}
.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d,#000729);
    position: absolute;
    right: 0%;
    top: 0%;
}
.menu{
    display: block;
    width: 25px;
    margin:40px auto 0;
    cursor:pointer;
}
.social-links img, .useful-links img{
    width: 25px;
    margin: 5px auto;
    cursor :pointer

}
.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(-10%);
    right:0%;
}
.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    transform: translate(-10%);
}
.bubble img{
    width: 50px;
    animation: bubbles 7s linear infinite;
}
.bubble{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:absolute;
    bottom:-7%;
}
@keyframes bubbles {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    80%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
    
 }
 .bubble img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
 }
 .bubble img:nth-child(2){
    animation-delay: 1s;
 }
 .bubble img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
 }
 .bubble img:nth-child(4){
    animation-delay: 4.5s;
 }
 .bubble img:nth-child(5){
    animation-delay: 3s;
 }
 .bubble img:nth-child(6){
    animation-delay: 6s;
    width: 25px;
 }
 .bubble img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
 }