*, *::before, *::after {

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  
  }
  
  *:before, *:after {
  
    content: '';
  
  }
  
  html, body {
  
    margin: 0px;
    padding: 0px;
  
  }
  
  body {
  
    background: #16181C;
    font-family: 'Open Sans', sans-serif;
  
  }
  
  div {
  
    display: block;
    position: relative;
  
  }
  
  header {
  
    width: 1300px;
    height: auto;
    padding: 50px 0px;
    margin: 0px auto;
    position: relative;
  
  }
  
  header label {
    
    color: white;
    font-size: 12px;
    margin-left: 20px;
    
  }
  
  header label a {
    
    color: #60B5D1;
    
  }
  
  .container {
  
    left: 50%;
    z-index: 0;
    float: left;
    width: 1100px;
    height: auto;
    margin-left: 100px;
    max-height: 100vh;
    position: relative;
    border: 8px solid #16181C;
    transform: translateX(-50%);
  
  }
  
  .row {
  
    float: left;
    clear: both;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-bottom: 8px solid #16181C;
  
  }
  
  .row::before {
  
    top: 0px;
    left: -208px;
    width: 200px;
    height: 100%;
    position: absolute;
    letter-spacing: 1px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.025);
    border-right: 8px solid #16181C;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.65),
                inset 0px 0px 0px 2px rgba(255, 255, 255, 0.035),
                inset 0px 5px 20px -10px rgba(255, 255, 255, 0.25),
                inset 0px -5px 20px -10px black;
  
  }
  
  .row::after {
  
    top: 15%;
    left: -198px;
    width: 172px;
    height: 70%;
    z-index: 1;
    padding: 15px;
    position: absolute;
    font-family: 'Open Sans';
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(255,255,255,0.35);
    font-size: 11px;
    border-radius: 2px;
    background: #101114;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.035),
                inset 0px -20px 20px -20px rgba(0, 0, 0, 0.5),
                inset 0px 20px 20px -20px rgba(255, 255, 255, 0.05);
  
  }
  
  .row:nth-child(1)::after {
  
    content: 'Drum Kick';
  
  }
  
  .row:nth-child(2)::after {
  
    content: 'Drum Snare';
  
  }
  
  .row:nth-child(3)::after {
  
    content: 'Drum Hi-Hat';
  
  }
  
  .row:nth-child(4)::after {
  
    content: 'Drum Hi-Hat 2';
  
  }
  
  .row:nth-child(5)::after {
  
    content: 'Drum Tom';

  }
  
  .sample {
  
    float: left;
    border-radius: 2px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.025);
    border-right: 8px solid #16181C;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.65),
                inset 0px 0px 0px 2px rgba(255, 255, 255, 0.035),
                inset 0px 5px 20px -10px rgba(255, 255, 255, 0.25),
                inset 0px -5px 20px -10px black;
  
  }
  
  .sample:nth-child(8n+6)::after {
  
    top: 1px;
    left: 1px;
    z-index: -1;
    opacity: 0.05;
    border-radius: 2px;
    background: #FF7B5F;
    position: absolute;
    width: calc(400% + 22px);
    height: calc(100% + 0px);
  
  }
  
  .sample::before {
  
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    z-index: 1;
    position: absolute;
    border-radius: 2px;
    background: #101114;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.035),
                inset 0px -20px 20px -20px rgba(0, 0, 0, 0.5),
                inset 0px 20px 20px -20px rgba(255, 255, 255, 0.05);
  
  }
  
  .sample:active::before,
  .sample:focus::before {
  
    background: #0C0D0F;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.035),
                inset 0px 20px 20px -20px rgba(0, 0, 0, 0.5),
                inset 0px 20px 20px -20px rgba(255, 255, 255, 0.05);
  
  }
  
  .sample.active::before {
  
    background: #DB6B53;
    border: 1px solid rgba(255, 255, 255, 0.035);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
                inset 0px -20px 20px -20px rgba(0, 0, 0, 0.85),
                inset 0px 20px 20px -20px rgba(255, 255, 255, 0.05);
  
  }
  
  .sample.active.hit::before {
  
    background: #DB6B53;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 20px 1px #DB7E53,
                inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
                inset 0px -20px 20px -20px rgba(0, 0, 0, 1),
                inset 0px 20px 20px -20px rgba(255, 255, 255, 1);
  
  }
  
  .sample.active.disabled.hit::before {
  
    background: #DBBBB0;
    border: 1px solid rgba(255, 255, 255, 0.035);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
                inset 0px -20px 20px -20px rgba(0, 0, 0, 0.85),
                inset 0px 20px 20px -20px rgba(255, 255, 255, 0.05);
  
  }
  
  .sample.active.disabled::before {
  
    opacity: 0.35;
    background: #DBBBB0;
  
  }
  
  .enable-disable-row {
  
    top: 50%;
    left: -60px;
    width: 14px;
    height: 14px;
    outline: none;
    border: none;
    z-index: 2;
    margin-top: -7px;
    background: #81B55B;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.5),
                0px 0px 0px 3px rgba(255, 255, 255, 0.15),
                0px 0px 0px 4px rgba(0, 0, 0, 0.5),
                inset 0px 0px 5px -1px white;
  
  }
  
  .enable-disable-row.disabled {
  
    background: #CF472F;
  
  }
  