<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>

<body>

    <div class="box" id="heading">

        <h1>
            <%= listTitle %>
        </h1>
    </div>
    <div class="box">


        <%for(var j=0; j < newListItem.length ;j++){%>
            <div class="item">
                <input type="checkbox" name="" id="">
                <p> <%= newListItem[j] %> </p>
            </div>
            <%}%>

            <form class='item' action="/" method="post">
                <input name="item" type="text" placeholder="New Item">
                <button type="submit" name= "list" value = <%= listTitle %>>+</button>
               
            </form>

        </div>
</body>

</html>