
h1{ text-align: center;}
body{text-align:center;
background-color: papayawhip
;
font-family: 'Courier New', Courier, monospace;
align-content: center;}
table{
    margin-top:2px;
    background-color: lightgrey;
}
form{
    margin-top: 20px;
}
button{
    margin-top: 20px;
    width:100px;
    background-color: rgb(147, 145, 243);
}