body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden; 
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: black;
    width: 300px;
    border-radius: 1rem; /* 1rem=16px */
    margin: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.main-heading{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.main-heading1:hover {
    cursor: pointer;
    text-decoration: underline;
}

.main-heading2:hover {
    cursor: pointer;
    text-decoration: underline;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
}

a {
    text-decoration: none;
    color: white;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
}

.box {
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.65rem 0 1.45rem 0;
    padding: 0.65rem 0.8rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 600;
}

.box-p2 {
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge {
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1 rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.dark-badge {
    background-color: #000;
    color: #fff;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-nav-icons {
    margin-left: 0.5rem;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 1rem;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    opacity: 0.9;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.card:hover {
    opacity: 1.8;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.75rem;
    opacity: 0.5;
}

.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 25%;
}

.player {
    width: 47%;
}

.controls {
    width: 28%;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icon {
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 60%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

/* quirksmode.org --> Website for Sliding features */

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bb760;
    border-radius: 50%;
    margin-top: -6px;
}

.album-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-control-icon {
    height: 3.5rem;
    margin-right: 1.5rem;
    opacity: 0.7;
}

.album-control-icon span {
    font-size: smaller;
    font-weight: 200;
}

.controls-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-player-icon {
    height: 1.7rem;
    margin-right: 0.7rem;
    opacity: 0.7;
    align-items: center;
}

.progress-bar-icon {
    width: 45%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 1rem;
}

.progress-bar-icon::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 30px;
    height: 0.2rem;
}

.progress-bar-icon::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bb760;
    border-radius: 50%;
    margin-top: -6px;
}