.post {
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}
.post__image {
    width: 100%;
    object-fit: contain;
}
.post__text {
    font-weight: normal;
    padding: 20px;
}
.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
  }
  .headl {
    display: flex;
    align-items: center;
    
  }
  .post__avatar {
    margin-right: 10px;
  }

 
  


  .post_right {
    margin-left: 20px;
    
    display: flex;
    flex-direction: column;
  }
  .post_left{
    display: flex;
    flex-direction: column;
    
  }
  .post__commentbox {
    display: flex;
    margin-top: 10px;
  }
  .post__input {
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
    flex:1
    
  }
  .post__button {
    border: none;
    padding: 20px;
    border: 1px solid rgb(26, 124, 166); 
    flex: 0
  }
  .post__comment {
    padding-left: 20px;
  }
  
  .dropbtn {
     background-color: white;
     border-color: white;
    /*color: white;
    padding: 16px; */
    /* font-size: 16px;*/
    border: none; 
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: white;
   
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3ecaf1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}