
body{
	height: 100%;
	margin:0px;
	padding:0px;
	font-family: Helvetica, Arial, sans-serif;
}

.wrapper
{
	margin: 0 auto;
	width: 960px;
	height: 100%;
}

/*========HEADER SECTION ===========*/

.header
{
	width: 100%;
	height: 80px;
	background-color: #009688;
}


.logoletter
{
	display: block;
	padding-top:7px;
	padding-bottom:5px;
	margin-left: auto;
	margin-right: auto;

}



/*==========MAIN SECTION ========*/

.main
{
	
	width: 100%;
	height: 100%;
	background-color:#d7dbd7;
	padding-bottom: 5%;
}



.signup /* ---- SIGNUP SECTION --- */
{
	font-size: 18px;
	padding-top: 4%;

}

.signup img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 700px;
	height: 120px;
}

#signuptable
{
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #999999;
	padding: 12px;
	position: relative;
}

#signuptable select
{
	width: 262px;
	height: 36px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #bdc7d8;
	padding-left: 10px;
}

.signup h1 /*---- SIGNUP HEADING --*/
{
	font-size: 45px;
	margin: 0px;
	padding-top: 10%;
	padding-bottom: 4%;
}

.signup #signuptable .inputtext2
{
	width: 250px;
	height: 32px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #bdc7d8;
	padding-left: 10px;
}

#signuptable tr td
{
	padding-bottom: 15px;
	padding-right: 10px;
}

#nextbttn /*---JOING NOW BUTTON ---*/
{

	border:0px;
	width: 100%;
	height: 34px;
	font-size: 18px;
	background-color: #43d854;
	color: black;
	box-shadow: 0 6px 4px #999;
}

#nextbttn:hover
{
	background-color: #81E58D;
}

#nextbut
{
	height: 60px;
}


#nextbttn:active
{
  background-color: #4CAF50;
  box-shadow: 0 5px 4px #666;
  transform: translateY(8px);
}

#nextbttn:focus
{
	outline: 0px
}

/*====== FOOTER ===========*/

.footer
{
	/*height: 40px;*/
}

.foot
{
	background-color: white;
	text-align: center;
}

.foot ul
{
	padding: 5px;
	list-style-type: none;
	text-align: center;
	margin: 10px;
	border-radius: 5px;
}

.foot ul li
{
	display: inline;
}

.foot ul li a
{
	text-decoration: none;
	padding: 10px;
	color: #615D5E;
	font-size: 16px;
}

.foot ul li a:hover
{
	color: #009688;
	font-size: 17px;
}

.foot p
{
	color: #666666;
	text-align: center;
	font-size: 14px;
	padding-top: 8px;
	padding-bottom: 2%;
}

/*----Removing the number increment in input --*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="file"] {
	display: inline;
	border: 2px solid red;
	position: absolute;
	left: 12px;
	width: 85%;
	height: 30px;
	opacity: 0;

}


.uploadButton {
display: inline;
background-color: #00AEEF;
border: 0px;
margin: 0px;
padding: 0px;
font-size: 16px;
width: 97%;
height: 30px;
color: white;
transition: width 1s ease-in-out;
}


#load1
{
	border-radius: 50%;
}

.logoletter:hover
{
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}