.wrapper {
  width: 50%;
  height: 100px;
  background-color: rgb(10, 1, 1);
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}
#button {
  width: 10rem;
  height: 5rem;
  margin: auto;
  border-radius: 10px;
  border: 1px solid #091053;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: u-button;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  position: absolute;
  top: 17%;
  right: 10%;
  z-index: 1;
}
#arrow {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid #091053;
  border-bottom: 25px solid transparent;

  animation-name: u-arrow;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  z-index: 100;

  position: absolute;

  top: 30%;
  left: 10%;
}

@keyframes u-button {
  0% {
    border: 1px solid rgb(11, 98, 219);
  }
  25% {
    border: 1px solid rgb(184, 195, 203);
    right: 20%;
  }
  75% {
    background-color: rgb(65, 10, 10);
    right: 35%;
  }
  100% {
    background-color: red;
    border: 0px solid none;
    right: 40%;
  }
}
@keyframes u-arrow {
  0% {
    border-left: 50px solid rgb(11, 98, 219);
  }
  25% {
    border-left: 50px solid rgb(184, 195, 203);
    left: 20%;
  }
  75% {
    border-left: 50px solid rgb(233, 228, 228);
    left: 35%;
  }
  100% {
    border-left: 50px solid #fff;
    left: 48%;
  }
}
