<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Blog</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-3">
      <form action="/blog" method="post" enctype="multipart/form-data"> 
        <div class="mb-3">
          <label for="coverImage" class="form-control" >Cover Image</label>
          <input
            type="file"
            class="form-control"
            id="coverImage"
            name="coverImage"
            aria-describedby="coverImage"
          />
          </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            aria-describedby="title"
          />
          </div>
          <div class="mb-3">
            <label for="body">Body</label>
              <textarea name="body" class="form-control" id="body"></textarea>
          </div>
          <div class="mb-3">
            <button class="btn btn-primary">Submit</button>
          </div>
          
          
          
        </div>
      </form>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>
