@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
}

html {
  font-size: 62.5%;
}

.main-div {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgb(174, 255, 255);
}

.inner-div {
  width: 40vw;
  background-color: rgb(216, 169, 238);
  padding: 3rem 8rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.7);
}

.question {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.inner-div li {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  list-style: none;
}

input:hover {
  cursor: pointer;
}

#submit,
.btn {
  padding: 1rem 3rem;
  outline: none;
  font-size: 2rem;
  font-size: 400;
  display: block;
  margin: auto;
  border: none;
  border-radius: 1rem;
  text-transform: uppercase;
  color: white;
  background-color: rgb(122, 122, 255);
  margin-top: 4rem;
  cursor: pointer;
}

#submit:hover {
  background-color: rgb(78, 78, 255);
}

#showScore {
  background-color: rgb(240, 240, 240);
  margin-top: 3rem;
  padding: 3rem 4rem;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.7);
}

#showScore h3 {
  font-size: 3rem;
  text-align: center;
}

.scoreArea {
  display: none;
}