body {
    background-color: #263159;
}
h1{
    text-align:center;
    color:beige;
    font-size:5rem;
    font-family: 'Secular One', sans-serif;
}
.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.container1,.container2,.container3,.container4 {
    padding: 45px;
    margin: 17px;
    display: inline-block;
    border: solid bold;
    border-radius: 15%;
    border-color: rgb(19, 18, 18);
    width: 200px;
    height: 200px;
    border-width:10px;
}
.container1{
    background-color: red;
    cursor: pointer;
}
.container2{
    background-color:#FFBF00;
    cursor: pointer;
}
.container3{
    background-color: #54B435;
    cursor: pointer;
}
.container4{
    background-color: #2192FF;
    cursor: pointer;
}
.animate{
    box-shadow:0 0 15px white;
    background-color:rgb(24, 18, 18);
}
.out{
    background-color: rgb(131, 34, 34);
}